<!DOCTYPE html>
<html>
<head>
  <title>Prueba lumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
   <div>
     <%= "Hola #{current_user.email}" %>
     <br>
	   <%= link_to t(:logout), destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
   
  <% end %>

<%= yield %>

</body>
</html>
